@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}
#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("wallpaperflare.com_wallpaper.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
:root {
  --main-color: #e6b30e;
}
.act,
.navbar ul li a:hover {
  color: var(--main-color) !important;
  border-bottom: 1px solid var(--main-color);
}
.theme-text {
  color: var(--main-color) !important;
}

svg.wave {
 background-color: transparent;
  position: absolute;
  bottom: -50px;
}
.middle {
    position: absolute;
    top: 29%;
    height: 92vh;
    width: 54%;
}
.middle h1 {
  font-size: 70px;
}
#start{
    position:absolute;
    top: 70%;
    left: 46%;
   
}
h4{
  color:white;
  padding:6px;
}
#login_menu{
  display: none  !important;
}

#logout_menu
{
  display:contents  !important;
}